<div class="row">
  <div class="col-md-6">
    <div class="thumbnail">
      <%= image_tag @subscription.image.url %>
      <strong><%= @subscription.company_name %></strong>
      <br>
      <br>
      <strong>Company website:</strong>
      <%= link_to @subscription.website, @subscription.website %><br>
      <strong>Company phone:</strong>
     <%= @subscription.phone %><br>
     <strong>Address:</strong>
     <%= @subscription.address %><br>
      <strong>City:</strong> 
     <%= @subscription.city %><br>
     <strong>Zipcode:</strong>
     <%= @subscription.zipcode %><br>
    </div>
     <br>

  </div>
  <div class="col-md-6">
<iframe
  width="500"
  height="180"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAUOQ0h7ZYU56FuY9ziMMXURoIlHxC3pfY
    &q=<%= @subscription.address.parameterize %>">
</iframe>
  </div>

</div>


<%= link_to 'Edit', edit_subscription_path(@subscription), class: "btn btn-link" %> |
<%= link_to 'Back', subscriptions_path, class: "btn btn-link" %>
